body {
  background-color: lightblue;
  border: 4px solid #6b5b95;
}
h1 {
  color: deepskyblue;

}
h2 {
  color: rebeccapurple;
}
.one {
    color: darkred;
  }
.two{
    color: hotpink;
}
.three{
    color: darkred;
}
.four{
    color: deep pink;
}
h3 {
  color: rebeccapurple;
}